html {
  font-size: 12px;
  font-family: $font-family,Tahoma,"DejaVu Sans",helvetica,arial,freesans,sans-serif;
  direction: rtl;
  background-color: #f5ddc9 !important;
  overflow: hidden;
}

body * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
