html {
  font-size: 12px;
  font-family: $font-family,Tahoma,"DejaVu Sans",helvetica,arial,freesans,sans-serif;
  direction: rtl;
  background-color: #f5ddc9 !important;
}

body * {
  box-sizing: border-box;
}
